 /*Template: Leno - Mobile App HTML Landing Page Template
   Author: Inovatik
   Created: Mar 2019
   Description: Master CSS file
*/

/*****************************************
Table Of Contents:

01. General Styles
02. Preloader
03. Navigation
04. Header
05. Features
06. Video
07. Details 1
08. Details 2
09. Details Lightboxes
10. Screenshots
11. Download
12. Statistics
13. Contact
14. Footer
15. Copyright
16. Back To Top Button
17. Extra Pages
18. Media Queries
******************************************/

/*****************************************
Colors:

- Text, navbar links - white black
- Buttons, bullets, icons - turquoise #79bee9
- Navbar - navy #002f6c
- Backgrounds - dark denim #981e32
- Backgrounds - denim #fff
******************************************/

/*****************************************
NEW Colors:
- ACM Blue: #79bee9
- Navy blue, accent color #002f6c
- WSU Crimson - #981e32


- Text, navbar links - temporarily black
- Buttons, bullets, icons - turquoise #79bee9
- Navbar - WSU Crimson #981e32 
- Backgrounds - darker - #e6e6e6
- Backgrounds - white #fff
******************************************/
.collapsible {
	background-color: #777;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
  }
  
  .collapsible:hover {
	background-color: #555;
  }
  
  .content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
  }


/******************************/
/*     01. General Styles     */
/******************************/
body,
html {
    width: 100%;
	height: 100%;
}

body, p {
	color: black; 
	font: 400 0.875rem/1.375rem "Open Sans", sans-serif;
}

.p-large {
	color: black;
	font: 400 1rem/1.5rem "Open Sans", sans-serif;
}

.p-small {
	color: black;
	font: 400 0.75rem/1.25rem "Open Sans", sans-serif;
}

.p-heading {
	margin-bottom: 3.75rem;
	text-align: center;
}

.li-space-lg li {
	margin-bottom: 0.375rem;
}

h1 {
	color: black;
	font: 700 2.5rem/2.875rem "Montserrat", sans-serif;
}

h2 {
	color: black;
	font: 700 2.25rem/2.75rem "Montserrat", sans-serif;
}

h4 {
	color: black;
	font: 700 1.375rem/1.75rem "Montserrat", sans-serif;
}

a {
	color: black;
	text-decoration: underline;
}

a:hover {
	color: black;
	text-decoration: underline;
}

a.turquoise {
	color: #79bee9;
}

.btn-solid-reg {
	display: inline-block;
	padding: 1.1875rem 2.125rem 1.1875rem 2.125rem;
	border: 0.125rem solid #79bee9;
	border-radius: 2rem;
	background-color: #79bee9;
	color: #fff;
	font: 700 0.75rem/0 "Montserrat", sans-serif;
	text-decoration: none;
	transition: all 0.2s ease;
}

.btn-solid-reg:hover {
	background-color: transparent;
	color: #79bee9;
	text-decoration: none;
}

/* IE10+ hack to solve lower label text position compared to the rest of the browsers */

/* IE10+ hack to solve lower label text position compared to the rest of the browsers */

/* IE10+ hack to raise checkbox field position compared to the rest of the browsers */

/* Form Success And Error Message Formatting */
/* end of form success and error message formatting */

/* Form Success And Error Message Animation - Animate.css */
/* end of form success and error message animation - Animate.css */

/* Fade-move Animation For Lightbox - Magnific Popup */
/* at start */

/* animate in */

/* animate out */

/* dark overlay, start state */

/* animate in */
/* animate out */
/* end of fade-move animation for lightbox - magnific popup */

/* Fade Animation For Image Slider - Magnific Popup */
/* end of fade animation for image slider - magnific popup */


/*************************/
/*     02. Preloader     */
/*************************/
.spinner-wrapper {
	position: fixed;
	z-index: 999999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #fff;
}

.spinner {
	position: absolute;
	top: 50%; /* centers the loading animation vertically one the screen */
	left: 50%; /* centers the loading animation horizontally one the screen */
	width: 3.75rem;
	height: 1.25rem;
	margin: -0.625rem 0 0 -1.875rem; /* is width and height divided by two */ 
	text-align: center;
}

.spinner > div {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border-radius: 100%;
	background-color: #fff;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0); }
	40% { -webkit-transform: scale(1.0); }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% { 
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
	} 40% { 
		-webkit-transform: scale(1.0);
		-ms-transform: scale(1.0);
		transform: scale(1.0);
	}
}


/**************************/
/*     03. Navigation     */
/**************************/
.navbar-custom {
	background-color: #981e32;
	box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
	font: 700 0.75rem/2rem "Montserrat", sans-serif;
	transition: all 0.2s ease;
}

.navbar-custom .navbar-brand.logo-text {
	font: 700 1.5rem/1.5rem "Montserrat", sans-serif;
	color: #fff;
	letter-spacing: -0.5px;
	text-decoration: none;
}

.navbar-custom .navbar-nav {
	margin-top: 0.75rem;
}

.navbar-custom .nav-item .nav-link {
	padding: 0 0.75rem 0 0.75rem;
	color: #fff;
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar-custom .nav-item .nav-link:hover {
	color: #e6e6e6;
}

/* Dropdown Menu */
/* end of dropdown menu */

.navbar-custom .social-icons {
	display: none;
}

.navbar-custom .navbar-toggler {
	border: none;
	color: #fff;
	font-size: 2rem;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-times{
	display: none;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-bars{
	display: inline-block;
}


/*********************/
/*    04. Header     */
/*********************/
.header {
	background: linear-gradient(to bottom right, rgba(72, 72, 212, 0), rgba(241, 104, 104, 0)), url('../images/background.jpg') center center no-repeat;
	background-size: cover;
}

.header .header-content {
	padding-top: 8.5rem;
	padding-bottom: 7rem;
	text-align: center;
}

.header .text-container {
	margin-bottom: 3rem;
}

.header h1 {
	margin-bottom: 1rem;
}

.header .p-large {
	margin-bottom: 2rem;
}


/****************************/
/*     05. Testimonials     */
/****************************/


/************************/
/*     05. About     */
/************************/
.tabs {
	padding-top: 6.5rem;
	padding-bottom: 4.25rem;
	background-color: #fff;
}

.tabs h2 {
	margin-bottom: 1.125rem;
	text-align: center;
}

.tabs .p-heading {
	margin-bottom: 3.125rem;
}


/*********************/
/*     06. Our Team     */
/*********************/
.basic-1 {
	padding-top: 6.375rem;
	padding-bottom: 6.875rem;
	/*background: url('../images/background.jpg') center center no-repeat;*/
	/*background-size: cover; */
	background-color: #fff;
}

.basic-1 h2 {
	margin-bottom: 1.125rem;
	text-align: center;
}

.basic-1 .p-heading {
	margin-bottom: 4rem;
	text-align: center;
}

/* Video Play Button */
/* end of video play button */  

/****** Begin new style code ******/
/* Team
    ---------------------------------------------------*/
.team-member {
	margin-bottom: 15px;
}
.member-img {
	overflow: hidden; 
	padding: 5px;
	position:relative;
}
.team-member .member-img img {
	max-width: 250px;
	margin: 0 auto;
	border-top: solid 4px #79bee9;
}
.team-member h4 {
	font-size: 19px;
	line-height: 32px;
	margin: 10px 0 0;
	text-align: center;
}
.team-member .pos {
	display: block;
	margin: 0;
	text-align: center;
}
.team-socials {
	position:absolute;
	bottom:70px;
	left:0px;
	right:0px;
}
.team-socials a {
	background: white;
	padding: 7px 0;
	margin: 2px;
}
.team-member {
	padding-top: 5px;
}
.team-socials {
	margin: 15px 0;
	opacity: 0;
	text-align: center;
}
.team-member:hover .team-socials {
	opacity: 1;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.team-socials i {
	width: 35px;
	height: 35px;
	position: relative;
	display: inline-block;
	text-align: center;
	font-size: 18px;
}


/*************************/
/*     07. Details 1     */
/*************************/


/*************************/
/*     08. Details 2     */
/*************************/


/**********************************/
/*     09. Details Lightboxes     */
/**********************************/


/***************************/
/*     10. Screenshots     */
/***************************/


/************************/
/*     11. Download     */
/************************/


/**************************/
/*     12. Statistics     */
/**************************/


/***********************/
/*     13. Contact     */
/***********************/
.form {
	padding-top: 6.25rem;
	padding-bottom: 5.625rem;
	background: url('../images/background.jpg') center bottom no-repeat;
	background-size: cover; 
}

.form h2 {
	margin-bottom: 1.125rem;
	text-align: center;
}

.form .list-unstyled {
	margin-bottom: 3.75rem;
	font-size: 1rem;
	line-height: 1.5rem;
	text-align: center;
}

.form .list-unstyled .fas {
	margin-right: 0.5rem;
	font-size: 0.875rem;
	color: #79bee9;
}


/**********************/
/*     14. Footer     */
/**********************/
.footer {
	padding-top: 5rem;
	background-color: #e6e6e6;
}

.footer .footer-col {
	margin-bottom: 2.25rem;
}

.footer h4 {
	margin-bottom: 1rem;
}

.footer .list-unstyled .fas {
	color: #79bee9;
	font-size: 0.5rem;
	line-height: 1.375rem;
}

.footer .list-unstyled .media-body {
	margin-left: 0.625rem;
}

.footer .fa-stack {
	margin-bottom: 0.75rem;
	margin-right: 0.5rem;
	font-size: 1.5rem;
}

.footer .fa-stack .fa-stack-1x {
    color: #e6e6e6;
	transition: all 0.2s ease;
}

.footer .fa-stack .fa-stack-2x {
	color: black;
	transition: all 0.2s ease;
}

.footer .fa-stack:hover .fa-stack-1x {
	color: black;
}

.footer .fa-stack:hover .fa-stack-2x {
    color: #79bee9;
}


/*************************/
/*     15. Copyright     */
/*************************/
.copyright {
	padding-top: 1rem;
	padding-bottom: 0.5rem;
	background-color: #e6e6e6;
	text-align: center;
}

.copyright .p-small {
	color: black;
	opacity: 0.6;
}


/**********************************/
/*     16. Back To Top Button     */
/**********************************/


/***************************/
/*     17. Extra Pages     */
/***************************/


/*****************************/
/*     18. Media Queries     */
/*****************************/	
/* Min-width width 768px */
@media (min-width: 768px) {
	
	/* General Styles */
	.p-heading {
		width: 85%;
		margin-right: auto;
		margin-left: auto;
	}

	h1 {
		font: 700 3.25rem/3.75rem "Montserrat", sans-serif;
	}
	/* end of general styles */


	/* Navigation */
	.navbar-custom {
		padding: 2.125rem 1.5rem 2.125rem 2rem;
		box-shadow: none;
        background: transparent;
	}
	
	.navbar-custom .navbar-brand.logo-text {
		color: #981e32;
	}

	.navbar-custom .navbar-nav {
		margin-top: 0;
	}

	.navbar-custom .nav-item .nav-link {
		padding: 0.25rem 0.75rem 0.25rem 0.75rem;
		color: #777;
	}
	
	.navbar-custom .nav-item .nav-link:hover {
		color: #79bee9;
	}
	/* end of navigation */


	/* Header */
	.header .header-content {
		padding-top: 11rem;
	}
	/* end of header */


	/* Testimonials */
	/* end of testimonials */


	/* Features */
	/* end of features */


	/* Details Lightboxes */
	/* end of details lightboxes */


	/* Screenshots */
	/* end of screenshots */


	/* Contact */
	.form .list-unstyled li {
		display: inline-block;
		margin-right: 0.5rem;
		margin-left: 0.5rem;
	}

	.form .list-unstyled .address {
		display: block;
	}
	/* end of contact */


	/* Extra Pages */
	/* end of extra pages */
}
/* end of min-width width 768px */


/* Min-width width 992px */
@media (min-width: 992px) {
	
	/* Navigation */
	.navbar-custom .social-icons {
		display: block;
		margin-left: 0.5rem;
	}

	.navbar-custom .fa-stack {
		margin-bottom: 0.1875rem;
		margin-left: 0.375rem;
		font-size: 0.75rem;
	}
	
	.navbar-custom .fa-stack-2x {
		color: #79bee9;
		transition: all 0.2s ease;
	}
	
	.navbar-custom .fa-stack-1x {
		color: #fff;
		transition: all 0.2s ease;
	}

	.navbar-custom .fa-stack:hover .fa-stack-2x {
		color: #fff;
	}

	.navbar-custom .fa-stack:hover .fa-stack-1x {
		color: #79bee9;
	}
	/* end of navigation */


	/* General Styles */
	.p-heading {
		width: 65%;
	}
	/* end of general styles */


	/* Header */
	.header .header-content {
		padding-top: 13rem;
		padding-bottom: 10rem;
		text-align: left;
	}

	.header .text-container {
		margin-top: 6.5rem;
	}
	/* end of header */


	/* Features */
	/* end of features */


	/* Video */
	/* end of video */

	/*Projects*/

	/* Details 1 */
	/* end of details 1 */


	/* Details 2 */
	/* end of details 2 */


	/* Details Lightboxes */
	/* end of details lightboxes */


	/* Screenshots */
	/* end of screenshots */


	/* Download */
	/* end of download */


	/* Statistics */
	/* end of statistics */


	/* Extra Pages */
	/* end of extra pages */
}
/* end of min-width width 992px */


/* Min-width width 1200px */
@media (min-width: 1200px) {
	
	/* Navigation */
	.navbar-custom {
		padding: 2.125rem 5rem 2.125rem 5rem;
	}
	/* end of navigation */

	
	/* General Styles */
	.p-heading {
		width: 85%;
	}
	/* end of general styles */


	/* Header */
	.header .text-container {
		margin-top: 7.5rem;
		margin-left: 2.5rem;
	}

	.header .image-container {
		margin-left: 3rem;
	}
	/* end of header */


	/* Features */
	.tabs {
		padding-bottom: 6.5rem;
	}
	/* end of features */


	/* Details 1 */
	/* end of details 1 */
	
	
	/* Details 2 */
	/* end of details 2 */


	/* Download */
	/* end of download */


	/* Footer */
	.footer .footer-col {
		width: 90%;
	}

	.footer .footer-col.middle {
		margin-right: auto;
		margin-left: auto;
	}

	.footer .footer-col.last {
		margin-right: 0;
		margin-left: auto;
	}
	/* end of footer */


	/* Extra Pages */


	/* end of extra pages */
}
/* end of min-width width 1200px */

/*********************************/
/*		Schedule			*/
/*********************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

:before {
    box-sizing: border-box
}

:after {
    box-sizing: border-box
}


/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.1
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2016 Daniel Eden
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.zpelement {
    margin: 20px 0 0;
    clear: both;
    zoom: 1
}

.zpelement:after {
    clear: both;
    content: "";
    display: table
}

.zpelement:before {
    content: "";
    display: table
}

.zpcontainer {
    padding: 0 15px
}

@media all and (min-width:992px) {
    .zpcontainer {
        width: 992px;
        margin: 0 auto
    }
}

.zprow {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px
}

.zprow.zpalign-items-flex-start {
    align-items: flex-start
}

.zprow.zpjustify-content-flex-start .zpcol-sm-12,
.zprow.zpjustify-content-flex-start .zpcol-md-6 {
    flex-grow: 0
}

.zprow.zpjustify-content-flex-start {
    justify-content: flex-start
}

.zprow .zpcol-sm-12,
.zprow .zpcol-md-6 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    flex: 0 0 auto;
    word-break: break-word;
    word-wrap: break-word
}

.zpcol-sm-12,
.zpcol-md-6 {
    width: 100%;
    flex: 1 0 100%
}

@media only screen and (min-width:768px) {
    .zpcol-sm-12 {
        width: 100%
    }
}

@media only screen and (min-width:992px) {
    .zpcol-md-6 {
        width: 50%
    }
}

@media all and (min-width:1200px) {
    .zpcontainer {
        width: 1140px;
        margin: 0 auto
    }
}

.zptext-align-left {
    text-align: left
}

ul {
    margin: 0;
    padding: 5px 0 0 20px
}

ul li {
    margin: 0;
    padding: 5px 0;
    list-style: inherit
}

.zpheading-align-left {
    text-align: left
}

button {
    display: inline-flex;
    margin-bottom: 0;
    font-size: inherit;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    cursor: pointer;
    text-decoration: none;
    line-height: 1.42857143;
    border-radius: 0;
    color: #fff;
    border: 0
}

button:focus,
button:active:focus {
    outline: 0
}

button:hover {
    transition: .3s linear
}

button:active {
    outline: 0;
    background-image: none;
    box-shadow: none
}

button::-moz-focus-inner {
    border: 0;
    padding: 0
}

*,
:before,
:after {
    box-sizing: border-box
}

.zpcomment-rating-vote-container.zpcomment-rating-style-1.zpcomment-rating-type-1:not(:hover)>input:checked~label svg {
    fill: #f6ac35
}

.zpcomment-rating-vote-container.zpcomment-rating-style-2.zpcomment-rating-type-1:not(:hover)>input:checked~label svg {
    fill: #00a9ff
}

.zpcomment-rating-vote-container.zpcomment-rating-style-3.zpcomment-rating-type-1:not(:hover)>input:checked~label svg {
    fill: #22be75
}

.zpcomment-rating-vote-container.zpcomment-rating-style-4.zpcomment-rating-type-1:not(:hover)>input:checked~label svg {
    fill: #fa559d
}

.zpcomment-rating-vote-container.zpcomment-rating-style-5.zpcomment-rating-type-1:not(:hover)>input:checked~label svg {
    fill: #00a7ff
}

.zp-hidden-xs {
    display: none
}

@media all and (min-width:768px) {
    .zp-hidden-xs {
        display: block
    }
}

@media all and (min-width:768px) {
    .zp-hidden-xs {
        display: block
    }
}

@media all and (min-width:768px) {
    .zp-hidden-sm {
        display: none
    }
}

@media all and (min-width:992px) {
    .zp-hidden-sm {
        display: block
    }
}

@media all and (min-width:992px) {
    .zp-hidden-md {
        display: none
    }
}

.box-container {
    margin-bottom: 20px;
    padding: 15px
}

/*$Id$*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

img {
    max-width: 100%;
    border: 0 none;
    vertical-align: middle;
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
}

:focus,
:active {
    outline: 0 none;
}

button {
    margin-bottom: 0;
    font-size: inherit;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    text-decoration: none;
    line-height: 1.42857143;
    border: 0 none;
}

button:hover {
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

button:active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

button::-moz-focus-inner {
    border: none;
    padding: 0;
}

body {
    color: #54686E;
    font-family: 'Arimo', sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-transform: none;
    line-height: 1.8;
}

a {
    color: #872227;
}

a:hover {
    color: #5e181b;
}

h1 {
    font-family: 'Arimo', sans-serif;
    font-size: 36px;
    font-weight: normal;
    text-transform: none;
    color: #262E32;
}

h1:before,
h1:after {
    background: #262E32;
}

h2 {
    font-family: 'Arimo', sans-serif;
    font-size: 30px;
    font-weight: normal;
    text-transform: none;
    color: #262E32;
}

h2:before,
h2:after {
    background: #262E32;
}

h4 {
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-transform: none;
    color: #262E32;
}

h4:before,
h4:after {
    background: #262E32;
}



  